## Installing MySQL on Windows

Step-by-step guide to install **MySQL** on a Windows system.

---

### Step 1: Download MySQL Installer

1. Go to the official MySQL download page:  
   [https://dev.mysql.com/downloads/installer/](https://dev.mysql.com/downloads/installer/)

2. Choose the installer type:
   - **Web Installer** (~2 MB): Downloads components as needed.
   - **Full Installer** (~400 MB): All components included.

3. Click **"Download"**, then select  
   **"No thanks, just start my download"**.

---

### Step 2: Run the Installer

1. Double-click the downloaded installer file.
2. Allow any permissions requested by Windows (click **Yes**).

---

### Step 3: Choose Setup Type

| Option             | Description                                           |
|--------------------|-------------------------------------------------------|
| Developer Default  | Recommended. Installs MySQL Server, Workbench, etc.  |
| Server Only        | Only the MySQL server.                               |
| Client Only        | Only client tools (Workbench, Shell).                |
| Full               | All components.                                      |
| Custom             | Manually select components.                          |

    - Select **Developer Default** and click **Next**.

---

### Step 4: Install Requirements

- Installer checks for dependencies (e.g., Visual C++ Redistributable).
- Click **Execute** to install them.
- Once done, click **Next**.

---

### Step 5: Install MySQL Products

- Click **Execute** to download and install MySQL Server and tools.
- Wait for installation to complete.
- Click **Next** when done.

---

### Step 6: Configure MySQL Server

1. **Type and Networking**
   - Leave default settings (TCP/IP, Port 3306).
   - Click **Next**.

2. **Authentication Method**
   - Choose **Strong Password Encryption (Recommended)**.
   - Click **Next**.

3. **Set Root Password**
   - Enter a secure password for the **root** user.
   - Optionally, add more users.
   - Click **Next**.

4. **Windows Service**
   - Leave default settings (install as a Windows Service).
   - Click **Next**.

5. **Apply Configuration**
   - Click **Execute** to apply configuration.
   - Click **Finish** when done.

---

### Step 7: Complete Installation

- Click **Next** to finalize the product configuration.
- Click **Finish** to close the installer.

---

### Step 8: Launch MySQL Workbench

1. Open **MySQL Workbench** from the Start Menu.
2. Click the **Local Instance**.
3. Enter the root password you set earlier.
4. You are now ready to run SQL queries and manage databases!

### The SQL CREATE TABLE Statement

The CREATE TABLE statement is used to create a new table in a database.

```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
);
```

```sql
-- Creating tables
CREATE TABLE student (
  student_id INT PRIMARY KEY,
  name VARCHAR(40),
  major VARCHAR(40)
  -- PRIMARY KEY(student_id)
);

DESCRIBE student;
DROP TABLE student;
ALTER TABLE student ADD gpa DECIMAL;
ALTER TABLE student DROP COLUMN gpa;
```

#### Inserting Data

```sql
INSERT INTO student VALUES(1, 'Jack', 'Biology');
INSERT INTO student VALUES(2, 'Kate', 'Sociology');
INSERT INTO student(student_id, name) VALUES(3, 'Claire');
INSERT INTO student VALUES(4, 'Jack', 'Biology');
INSERT INTO student VALUES(5, 'Mike', 'Computer Science');
```

#### Constraints

```sql 
CREATE TABLE student (
student_id INT PRIMARY KEY AUTO_INCREMENT,
name VARCHAR(40) NOT NULL,
-- name VARCHAR(40) UNIQUE,
major VARCHAR(40) DEFAULT 'undecided',
);
```